- content_for :title, @city.btc_title
- content_for :description, @city.btc_meta
.jumbotron
  = link_to(image_tag('http://htcgen.herokuapp.com/logo-hipaa.png'), root_path, :class => 'jumbolink')
  = link_to(image_tag('http://htcgen.herokuapp.com/seal.png'), root_path, :class => 'jumbolink')
  = link_to(image_tag('http://htcgen.herokuapp.com/logo-bbb.png'), root_path, :class => 'jumbolink')
.container
  .row.mainer
    .col-md-2.lside
      = link_to(image_tag('http://htcgen.herokuapp.com/Checkup-Ad.png'), "http://www.healthtestingcenters.com/essential-health-screen.aspx", :class => 'checkup')
      = image_tag('http://htcgen.herokuapp.com/mod_head_category_lt.gif', :class => 'labtestcat')
      .modulee
        %ul
          %li= link_to 'Allergy Testing', "http://www.healthtestingcenters.com/allergy-testing.aspx"
          %li= link_to 'Anemia', "http://www.healthtestingcenters.com/anemia.aspx"
          %li= link_to 'Anti-Aging/ Hormones', "http://www.healthtestingcenters.com/hormone-level-blood-tests.aspx"
          %li= link_to 'Arthritis', "http://www.healthtestingcenters.com/arthritis-blood-tests.aspx"
          %li= link_to 'At Home Test Kits', "http://www.healthtestingcenters.com/test-kits.aspx"
          %li= link_to 'Basic Blood Chemistry', "http://www.healthtestingcenters.com/cmp-cbc-test.aspx"
          %li= link_to 'Blood Type', "http://www.healthtestingcenters.com/bloodtype-bloodtest.aspx"
          %li= link_to 'Cancer Screening', "http://www.healthtestingcenters.com/cancer-blood-test.aspx" 
          %li= link_to 'Celiac Disease', "http://www.healthtestingcenters.com/celiacdisease.aspx" 
          %li= link_to 'Comprehensive Panels', "http://www.healthtestingcenters.com/comprehensive-packages.aspx" 
          %li= link_to 'Diabetes Testing', "http://www.healthtestingcenters.com/diabetes-blood-test.aspx" 
          %li= link_to 'Disease Detection', "http://www.healthtestingcenters.com/disease-testing.aspx" 
          %li= link_to 'Drug Testing', "http://www.healthtestingcenters.com/drug.aspx" 
          %li= link_to 'Fertility Testing', "http://www.healthtestingcenters.com/fertility-testing.aspx" 
          %li= link_to 'Gastrointestinal', "http://www.healthtestingcenters.com/gastrointestinal.aspx" 
          %li= link_to 'Heart &amp; Cholesterol', "http://www.healthtestingcenters.com/heart-cholesterol-test.aspx" 
          %li= link_to 'Heavy Metals / Toxins', "http://www.healthtestingcenters.com/heavy-metal-blood-test.aspx" 
          %li= link_to 'Immunization Testing', "http://www.healthtestingcenters.com/immunizationtesting.aspx" 
          %li= link_to 'Kidney Function', "http://www.healthtestingcenters.com/kidney-function.aspx" 
          %li= link_to 'Liver Function', "http://www.healthtestingcenters.com/liver-test.aspx" 
          %li= link_to 'Pregnancy', "http://www.healthtestingcenters.com/pregnancy.aspx" 
          %li= link_to 'Prenatal Testing', "http://www.healthtestingcenters.com/prenatal-testing.aspx" 
          %li= link_to 'Prostate Test (PSA)', "http://www.healthtestingcenters.com/psa-test.aspx" 
          %li= link_to 'Saliva Testing', "http://www.healthtestingcenters.com/salivatests.aspx" 
          %li= link_to 'STD Testing', "http://www.healthtestingcenters.com/stdtesting.aspx" 
          %li= link_to 'Thyroid Function', "http://www.healthtestingcenters.com/thyroid-test.aspx" 
          %li= link_to 'Vitamins & Nutrition', "http://www.healthtestingcenters.com/vitamintest.aspx" 
    .col-md-8.cside
      %ol.breadcrumb
        %li
          %a{:href => "#"} Health Testing Centers
        %li
          %a{:href => @city.state } #{@city.state.name}
        %li
          %a{:href => city_path } #{@city.name}
        %li.active Laboratory Blood Tests
      %h1.toph1 #{@city.btc_h1}
      .container
        .row
          .col-xs-12.buttoninfophone
            .btn.btn-primary= link_to 'http://www.healthtestingcenters.com/Complete-Test-List.aspx', 'Order and Test Here'
            .row
              .col-md-12
                %h4 
                  %a{:href => "tel:#{@city.phone}"} #{@city.phone}
                %h5 Call to consult with a medical professional
          .col-sm-6.col-sm-push-12
            %script{:src => "http://maps.google.com/maps/api/js?key=AIzaSyANL_BvD-Bns2P5jL0Rf8ga_fM-0JpDngA&sensor=false", :type => "text/javascript"}
            .tlsmap
              #gmap_canvas
              %script{:src => "http://rlscdn.rioseo.com/js/markerclusterer.js", :type => "text/javascript"}
              :javascript
                var currentInfoWindow = null;
                var bounds = new google.maps.LatLngBounds();
                var latlng = new google.maps.LatLng(#{@locations.first.latitude}, #{@locations.first.longitude});
                var options = {
                  zoom: 11,
                  center: latlng,
                  mapTypeId: google.maps.MapTypeId.ROADMAP,
                  disableDefaultUI: false,
                  mapTypeControl: true,
                  mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DEFAULT },
                  navigationControl: true,
                  navigationControlOptions: { style: google.maps.NavigationControlStyle.DEFAULT },
                  scaleControl: true,
                  streetViewControl: true,
                  draggable: true,
                  scrollwheel: true,
                  disableDoubleClickZoom: false
                };
                
                function showmap() {
                  var map = new google.maps.Map(document.getElementById('gmap_canvas'), options);
                
                  google.maps.event.addListener(map, 'click', function() { if (currentInfoWindow != null) { currentInfoWindow.close(); } });
                  var markers = [];


                  var image = {url: 'http://locations.healthtestingcenters.com/images/mapIconSm.gif',scaledSize: new google.maps.Size(35,35)};
                  var latlng = new google.maps.LatLng(#{@locations.first.latitude}, #{@locations.first.longitude});
                  var marker0 = new google.maps.Marker({
                      position: latlng,
                      title: "#{@locations.first.name}",
                      icon: image,
                      map: map
                  });
                  markers.push(marker0);
                  var infowindowM0 = new google.maps.InfoWindow({
                    content: "Health Testing Centers<br><a href=\'http://healthtestingcenters.com\' alt=\'Laboratory Blood Tests #{@locations.first.city.name} Health Testing Centers | Locations\' title=\'Laboratory Blood Tests #{@locations.first.city.name} Health Testing Centers | Locations\' target=\'_parent\'>View all locations in #{@locations.first.city.name}"
                  });
                  google.maps.event.addListener (marker0, 'click', function() {
                    if (currentInfoWindow != null) { currentInfoWindow.close(); } 
                    infowindowM0.open(map, marker0);
                    currentInfoWindow = infowindowM0;
                  });
                    bounds.extend(markerLatLng);
                  }

                
                window.onload = showmap;

              - if @locations.first == nil
              - else
                %h3 Nearby locations
                %ul
                  - for location in @locations.first.nearbys(100)
                    %li
                      = link_to location.name, location
                      (#{location.distance.to_f.round(2)} miles)
                  
          .col-sm-6.col-sm-pull-12.buttoninfo
            .btn.btn-primary= link_to 'Order and Test Here', 'http://www.healthtestingcenters.com/Complete-Test-List.aspx' 
            .row
              .col-md-12
                %h4
                  %a{:href => "tel:#{@city.phone}"} #{@city.phone}
                %h5 Call to consult with a medical professional
          .col-xs-12.buttoninfophone
      %h1 #{@city.btc_h2}
      - if @locations == nil || ""
        %p No Locations in #{@city.name}
      - else
        %ul
          - @locations.each do |location|
            %li= link_to location.name, location
      %h1 #{@city.btc_h3}
      .row
        .col-md-6
          %ul
            %li= link_to @city.btc_h3sub1, @city.btc_h3sub1link, :class => "bulletlink"
            %li= link_to @city.btc_h3sub2, @city.btc_h3sub2link, :class => "bulletlink"
            %li= link_to @city.btc_h3sub3, @city.btc_h3sub3link, :class => "bulletlink"
            %li= link_to @city.btc_h3sub4, @city.btc_h3sub4link, :class => "bulletlink"
            %li= link_to @city.btc_h3sub5, @city.btc_h3sub5link, :class => "bulletlink"
        .col-md-6
          %ul
            %li= link_to @city.btc_h3sub6, @city.btc_h3sub6link, :class => "bulletlink"
            %li= link_to @city.btc_h3sub7, @city.btc_h3sub7link, :class => "bulletlink"
            %li= link_to @city.btc_h3sub8, @city.btc_h3sub8link, :class => "bulletlink"
            %li= link_to @city.btc_h3sub9, @city.btc_h3sub9link, :class => "bulletlink"
            %li= link_to @city.btc_h3sub10, @city.btc_h3sub10link, :class => "bulletlink"
      %h2 #{@city.btc_h4}
      .row
        .togler.col-md-4
          .well.well-lg
            %h6 #{@city.btc_h4sub1}
            %p 
              = truncate @city.btc_h4sub1section, :length => 75  
              %span=link_to 'more', '#', :class => 'togmore'
            %p.hidden
              #{@city.btc_h4sub1section}
              %span=link_to 'less', '#', :class => 'togless'
        .togler.col-md-4
          .well.well-lg
            %h6 #{@city.btc_h4sub2}
            %p 
              = truncate @city.btc_h4sub2section, :length => 75  
              %span=link_to 'more', '#', :class => 'togmore'
            %p.hidden
              #{@city.btc_h4sub2section}
              %span=link_to 'less', '#', :class => 'togless'
        .togler.col-md-4
          .well.well-lg
            %h6 #{@city.btc_h4sub3}
            %p 
              = truncate @city.btc_h4sub3section, :length => 75  
              %span=link_to 'more', '#', :class => 'togmore'
            %p.hidden
              #{@city.btc_h4sub3section}
              %span=link_to 'less', '#', :class => 'togless'
      .row
        .togler.col-md-4
          .well.well-lg
            %h6 #{@city.btc_h4sub4}
            %p 
              = truncate @city.btc_h4sub4section, :length => 75  
              %span=link_to 'more', '#', :class => 'togmore'
            %p.hidden
              #{@city.btc_h4sub4section}
              %span=link_to 'less', '#', :class => 'togless'
        .togler.col-md-4
          .well.well-lg
            %h6 #{@city.btc_h4sub5}
            %p 
              = truncate @city.btc_h4sub5section, :length => 75  
              %span=link_to 'more', '#', :class => 'togmore'
            %p.hidden
              #{@city.btc_h4sub5section}
              %span=link_to 'less', '#', :class => 'togless'
        .togler.col-md-4
          .well.well-lg
            %h6 #{@city.btc_h4sub6}
            %p 
              = truncate @city.btc_h4sub6section, :length => 75  
              %span=link_to 'more', '#', :class => 'togmore'
            %p.hidden
              #{@city.btc_h4sub6section}
              %span=link_to 'less', '#', :class => 'togless'
      %h1 #{@city.btc_h5}
      %p #{@city.btc_h5section}
      %h4 #{@city.btc_h6}
      %h2= link_to @city.btc_h6sub1, @city.btc_h6sub1link, :style => "font-weight:bold; font-size:105%;"
      %p #{@city.btc_h6sub1section}
      / %blockquote
      /   %p{:style => "font-weight:bold; font-size:90%;"}
      /     %a{:href => "http://www.healthtestingcenters.com/basichealthscreenpluscmpcbclipid.aspx"} The Essential Health Screen $89
      /     \- CBC (w diff), CMP, Urinalysis and Lipid Profile (HDL, LDL + Triglycerides)
      /     %br
      /     %a{:href => "http://www.healthtestingcenters.com/basic-blood-test.aspx"} Basic Health Screen $59 
      /     \- Includes a CBC (w diff), CMP, and a Urinalysis
      /     %br
      /     %a{:href => "http://www.healthtestingcenters.com/cholesterol-test.aspx"} Cholesterol Test (Lipid Profile) $39
      /     \- HDL, LDL, Total Cholesterol + Triglycerides
      %h2= link_to @city.btc_h6sub2, @city.btc_h6sub2link, :style => "font-weight:bold; font-size:105%;"
      %p #{@city.btc_h6sub2section}
      %h2= link_to @city.btc_h6sub3, @city.btc_h6sub3link, :style => "font-weight:bold; font-size:105%;"
      %p #{@city.btc_h6sub3section}
      %h2= link_to @city.btc_h6sub4, @city.btc_h6sub4link, :style => "font-weight:bold; font-size:105%;"
      %p #{@city.btc_h6sub4section}
      %h2= link_to @city.btc_h6sub5, @city.btc_h6sub5link, :style => "font-weight:bold; font-size:105%;"
      %p #{@city.btc_h6sub5section}
      %h2= link_to @city.btc_h6sub6, @city.btc_h6sub6link, :style => "font-weight:bold; font-size:105%;"
      %p #{@city.btc_h6sub6section}
      %h2= link_to @city.btc_h6sub7, @city.btc_h6sub7link, :style => "font-weight:bold; font-size:105%;"
      %p #{@city.btc_h6sub7section}
      %h2= link_to @city.btc_h6sub8, @city.btc_h6sub8link, :style => "font-weight:bold; font-size:105%;"
      %p #{@city.btc_h6sub8section}
      %h2= link_to @city.btc_h6sub9, @city.btc_h6sub9link, :style => "font-weight:bold; font-size:105%;"
      %p #{@city.btc_h6sub9section}
      %h2= link_to @city.btc_h6sub10, @city.btc_h6sub10link, :style => "font-weight:bold; font-size:105%;"
      %p #{@city.btc_h6sub10section}
      %h1 #{@city.btc_h7}
      %p #{@city.btc_h7section}
      %br
      %table{:cellpadding => "0", :cellspacing => "0", :style => "font-size: 120%; margin-left: 100px"}
        %col{:width => "0px"}
          %tr
            %td
            %td{:width => "325"} #{@city.btc_h7tablel1}
            %td{:width => "265", :style => "text-align:right;"} #{@city.btc_h7tabler1}
            %td
          %tr
            %td
            %td{:width => "325"} #{@city.btc_h7tablel2}
            %td{:width => "265", :style => "text-align:right;"} #{@city.btc_h7tabler2}
            %td{:width => "165"} 
          %tr
            %td
            %td{:width => "325"} #{@city.btc_h7tablel3}
            %td{:width => "265", :style => "text-align:right;"} #{@city.btc_h7tabler3}
            %td{:width => "165"} 
          %tr
            %td
            %td{:width => "325"} #{@city.btc_h7tablel4}
            %td{:width => "265", :style => "text-align:right;"} #{@city.btc_h7tabler4}
            %td{:width => "165"} 
          %tr
            %td
            %td{:width => "325"} #{@city.btc_h7tablel5}
            %td{:width => "265", :style => "text-align:right;"} #{@city.btc_h7tabler5}
            %td{:width => "165"} 
          %tr
            %td
            %td{:width => "325"} #{@city.btc_h7tablel6}
            %td{:width => "265", :style => "text-align:right;"} #{@city.btc_h7tabler6}
            %td{:width => "165"} 
          %tr
            %td
            %td{:width => "325"} #{@city.btc_h7tablel7}
            %td{:width => "265", :style => "text-align:right;"} #{@city.btc_h7tabler7}
            %td{:width => "165"} 
          %tr
            %td
            %td{:width => "325"} #{@city.btc_h7tablel8}
            %td{:width => "265", :style => "text-align:right;"} #{@city.btc_h7tabler8}
            %td{:width => "165"} 
          %tr
            %td
            %td{:width => "325"} #{@city.btc_h7tablel9}
            %td{:width => "265", :style => "text-align:right;"} #{@city.btc_h7tabler9}
            %td{:width => "165"} 
          %tr
            %td 
            %td{:width => "325"} #{@city.btc_h7tablel10}
            %td{:width => "265", :style => "text-align:right;"} #{@city.btc_h7tabler10}
            %td{:width => "165"} 
          %tr
            %td
            %td{:width => "325"} #{@city.btc_h7tablel11}
            %td{:width => "265", :style => "text-align:right;"} #{@city.btc_h7tabler11}
            %td
          %tr
            %td
            %td{:width => "325"} #{@city.btc_h7tablel12}
            %td{:width => "265", :style => "text-align:right;"} #{@city.btc_h7tabler12}
            %td{:width => "165"} 
          %tr
            %td
            %td{:width => "325"} #{@city.btc_h7tablel13}
            %td{:width => "265", :style => "text-align:right;"} #{@city.btc_h7tabler13}
            %td{:width => "165"} 
          %tr
            %td
            %td{:width => "325"} #{@city.btc_h7tablel14}
            %td{:width => "265", :style => "text-align:right;"} #{@city.btc_h7tabler14}
            %td{:width => "165"} 
          %tr
            %td
            %td{:width => "325"} #{@city.btc_h7tablel15}
            %td{:width => "265", :style => "text-align:right;"} #{@city.btc_h7tabler15}
            %td{:width => "165"} 
          %tr
            %td
            %td{:width => "325"} #{@city.btc_h7tablel16}
            %td{:width => "265", :style => "text-align:right;"} #{@city.btc_h7tabler16}
            %td{:width => "165"} 
          %tr
            %td
            %td{:width => "325"} #{@city.btc_h7tablel17}
            %td{:width => "265", :style => "text-align:right;"} #{@city.btc_h7tabler17}
            %td{:width => "165"} 
          %tr
            %td
            %td{:width => "325"} #{@city.btc_h7tablel18}
            %td{:width => "265", :style => "text-align:right;"} #{@city.btc_h7tabler18}
            %td{:width => "165"} 
          %tr
            %td
            %td{:width => "325"} #{@city.btc_h7tablel19}
            %td{:width => "265", :style => "text-align:right;"} #{@city.btc_h7tabler19}
            %td{:width => "165"} 
          %tr
            %td 
            %td{:width => "325"} #{@city.btc_h7tablel20}
            %td{:width => "265", :style => "text-align:right;"} #{@city.btc_h7tabler20}
            %td{:width => "165"} 
      %br
      %br
      %p
        %strong Notes:
        %br/
        #{@city.btc_h7footer}
        %br
        %br
    .col-md-2.rside
      = link_to(image_tag('http://htcgen.herokuapp.com/email.png'), "mailto:", :class => 'topsoc')
      = link_to(image_tag('http://htcgen.herokuapp.com/google-plus-new.png'), "https://plus.google.com/104085544192925470869/posts", :class => 'topsoc')
      = link_to(image_tag('http://htcgen.herokuapp.com/facebook.png'), "http://www.facebook.com/HealthTestingCenters", :class => 'topsoc')
      = link_to(image_tag('http://htcgen.herokuapp.com/twitter.png'), "http://twitter.com/#!/bloodtesting", :class => 'topsoc')
      = link_to(image_tag('http://htcgen.herokuapp.com/Lab-Testing-123.png'), "http://www.healthtestingcenters.com/blood-testing-how-it-works.aspx", :class => 'easyas')
      = link_to(image_tag('http://htcgen.herokuapp.com/Newletter-Signup.png'), "http://visitor.r20.constantcontact.com/d.jsp?llr=b8ffsudab&p=oi&m=1103422986081", :class => 'newslet')
.container
  .row.footertopbar
    .col-md-3.col-sm-3.col-xs-3
      = image_tag('http://htcgen.herokuapp.com/guarantee.png', :class => 'labtestcat')
    .col-md-9.col-sm-9.col-xs-9
      %h1 OUR GAURANTEE
      %p We care about your health. If you're not completely satisfied, we will make it right or give your money back. 
  .row.footer
    .col-md-6
      = image_tag('http://htcgen.herokuapp.com/453_491_logo-htc.png', :class => 'labtestcat')
    .col-md-6
      %h2 TO SPEAK WITH A MEDICAL PROFESSIONAL
      %h3 
        %a{:href => "tel:1-877-511-5227"} CALL 877-511-LABS (5227)
  .row.foot
    .col-md-12
    %p The Material on this page is educational and does not constitute medical advice, diagnosis or treatment. Please consult your physician if medical advice, diagnosis or treatment is needed. Health Screening Lab Tests may or may not alert you and your doctor to serious medical conditions and are not intended to be a substitute for a physicians's examination.
  .row.footbot
    %ul
      %li
        %a{:href => 'http://www.healthtestingcenters.com/privacy-policy.aspx'} Privacy
      |
      %li
        %a{:href => 'http://www.healthtestingcenters.com/terms.aspx'} Terms
      |
      %li
        %a{:href => 'http://www.healthtestingcenters.com/hipaa.aspx'} HIPAA
      |
      %li
        %a{:href => 'http://www.healthtestingcenters.com/sitemap.aspx'} Sitemap
      |
      %li
        %a{:href => 'http://www.healthtestingcenters.com/about-us.aspx'} About Us