- content_for :title, @city.btc_title
- content_for :description, @city.btc_meta
.jumbotron
  = link_to(image_tag('logo-hipaa.png'), root_path, :class => 'jumbolink')
  = link_to(image_tag('seal.png'), root_path, :class => 'jumbolink')
  = link_to(image_tag('logo-bbb.png'), root_path, :class => 'jumbolink')
.container
  .row.mainer
    .col-md-2.lside
      = link_to(image_tag('Checkup-Ad.png'), "http://www.healthtestingcenters.com/essential-health-screen.aspx", :class => 'checkup')
      = image_tag('mod_head_category_lt.gif', :class => 'labtestcat')
      .modulee
        %ul
          %li= link_to 'Allergy Testing', "http://www.healthtestingcenters.com/allergy-testing.aspx"
          %li= link_to 'Anemia', "http://www.healthtestingcenters.com/anemia.aspx"
          %li= link_to 'Anti-Aging/ Hormones', "http://www.healthtestingcenters.com/hormone-level-blood-tests.aspx"
          %li= link_to 'Arthritis', "http://www.healthtestingcenters.com/arthritis-blood-tests.aspx"
          %li= link_to 'At Home Test Kits', "http://www.healthtestingcenters.com/test-kits.aspx"
          %li= link_to 'Basic Blood Chemistry', "http://www.healthtestingcenters.com/cmp-cbc-test.aspx"
          %li= link_to 'Blood Type', "http://www.healthtestingcenters.com/bloodtype-bloodtest.aspx"
          %li= link_to 'Cancer Screening', "http://www.healthtestingcenters.com/cancer-blood-test.aspx" 
          %li= link_to 'Celiac Disease', "http://www.healthtestingcenters.com/celiacdisease.aspx" 
          %li= link_to 'Comprehensive Panels', "http://www.healthtestingcenters.com/comprehensive-packages.aspx" 
          %li= link_to 'Diabetes Testing', "http://www.healthtestingcenters.com/diabetes-blood-test.aspx" 
          %li= link_to 'Disease Detection', "http://www.healthtestingcenters.com/disease-testing.aspx" 
          %li= link_to 'Drug Testing', "http://www.healthtestingcenters.com/drug.aspx" 
          %li= link_to 'Fertility Testing', "http://www.healthtestingcenters.com/fertility-testing.aspx" 
          %li= link_to 'Gastrointestinal', "http://www.healthtestingcenters.com/gastrointestinal.aspx" 
          %li= link_to 'Heart &amp; Cholesterol', "http://www.healthtestingcenters.com/heart-cholesterol-test.aspx" 
          %li= link_to 'Heavy Metals / Toxins', "http://www.healthtestingcenters.com/heavy-metal-blood-test.aspx" 
          %li= link_to 'Immunization Testing', "http://www.healthtestingcenters.com/immunizationtesting.aspx" 
          %li= link_to 'Kidney Function', "http://www.healthtestingcenters.com/kidney-function.aspx" 
          %li= link_to 'Liver Function', "http://www.healthtestingcenters.com/liver-test.aspx" 
          %li= link_to 'Pregnancy', "http://www.healthtestingcenters.com/pregnancy.aspx" 
          %li= link_to 'Prenatal Testing', "http://www.healthtestingcenters.com/prenatal-testing.aspx" 
          %li= link_to 'Prostate Test (PSA)', "http://www.healthtestingcenters.com/psa-test.aspx" 
          %li= link_to 'Saliva Testing', "http://www.healthtestingcenters.com/salivatests.aspx" 
          %li= link_to 'STD Testing', "http://www.healthtestingcenters.com/stdtesting.aspx" 
          %li= link_to 'Thyroid Function', "http://www.healthtestingcenters.com/thyroid-test.aspx" 
          %li= link_to 'Vitamins & Nutrition', "http://www.healthtestingcenters.com/vitamintest.aspx" 
    .col-md-8.cside
      %ol.breadcrumb
        %li
          %a{:href => "#"} Health Testing Centers
        %li
          %a{:href => @city.state } #{@city.state.name}
        %li
          %a{:href => city_path } #{@city.name}
        %li.active Laboratory Blood Tests
      %h1.toph1 Laboratory Blood Testing in #{@city.name}
      .container
        .row
          .col-xs-12.buttoninfophone
            .btn.btn-primary Order and Test Here
            .row
              .col-md-12
                %h4 
                  %a{:href => "tel:1-412-685-4722"} (412) 685-4722
                %h5 Call to consult with a medical professional
          .col-sm-6.col-sm-push-12
            %script{:src => "http://maps.google.com/maps/api/js?key=AIzaSyANL_BvD-Bns2P5jL0Rf8ga_fM-0JpDngA&sensor=false", :type => "text/javascript"}
            .tlsmap
              / DIV container for the map
              #gmap_canvas
              / Display the Google Map
              %script{:src => "http://rlscdn.rioseo.com/js/markerclusterer.js", :type => "text/javascript"}
              :javascript
                var currentInfoWindow = null;
                var bounds = new google.maps.LatLngBounds();
                var latlng = new google.maps.LatLng(41.026902, -96.4203815);
                var options = {
                  zoom: 6,
                  center: latlng,
                  mapTypeId: google.maps.MapTypeId.ROADMAP,
                  disableDefaultUI: false,
                  mapTypeControl: true,
                  mapTypeControlOptions: { style: google.maps.MapTypeControlStyle.DEFAULT },
                  navigationControl: true,
                  navigationControlOptions: { style: google.maps.NavigationControlStyle.DEFAULT },
                  scaleControl: true,
                  streetViewControl: true,
                  draggable: true,
                  scrollwheel: true,
                  disableDoubleClickZoom: false
                };
                
                function showmap() {
                  var map = new google.maps.Map(document.getElementById('gmap_canvas'), options);
                
                  google.maps.event.addListener(map, 'click', function() { if (currentInfoWindow != null) { currentInfoWindow.close(); } });
                  var markers = [];
                  

                  var image = {url: 'http://locations.healthtestingcenters.com/images/mapIconSm.gif',scaledSize: new google.maps.Size(35,35)};
                  var markerLatLng = new google.maps.LatLng(40.8157560, -96.6577310);
                  var marker0 = new google.maps.Marker({
                   position: markerLatLng,
                   title: '',
                   icon: image,
                   map: map
                  });
                  markers.push(marker0);
                  var infowindowM0 = new google.maps.InfoWindow({
                   content: '                Health Testing Centers              <a href=\'http://ne.lincoln.healthtestingcenters.com\' alt=\'Laboratory Blood Tests Lincoln Health Testing Centers | Locations\' title=\'Laboratory Blood Tests Lincoln Health Testing Centers | Locations\' target=\'_parent\'>View all locations in Lincoln, NE     '
                  });
                  google.maps.event.addListener (marker0, 'click', function() {
                   if (currentInfoWindow != null) { currentInfoWindow.close(); } 
                   infowindowM0.open(map, marker0);
                   currentInfoWindow = infowindowM0;
                  });
                  bounds.extend(markerLatLng);
                
                }
                
                window.onload = showmap;
            / = image_tag('mapplaceholder.png', :class => 'mapplaceholder')
          .col-sm-6.col-sm-pull-12.buttoninfo
            .btn.btn-primary Order and Test Here
            / .row
            /   .col-md-6.col-sm-6.col-xs-6
            /     %h3 Health Testing Centers
            /     %p 
            /       300 Fleet St 2nd Floor
            /       %br
            /       2nd Floor
            /       %br
            /       Pittsburgh, PA 15220
            /   .col-md-6.col-sm-6.col-xs-6
            /     %h3 Hours
            /     %p 
            /       8AM-3PM EST (M-F)
            .row
              .col-md-12
                %h4
                  %a{:href => "tel:1-412-685-4722"} (412) 685-4722
                %h5 Call to consult with a medical professional
                - if @locations == nil
                - else
                  %ul
                    - @locations.each do |location|
                      %li= link_to location.name, location
          .col-xs-12.buttoninfophone
          /   %h3 Health Testing Centers
          /   %p 
          /     300 Fleet St 2nd Floor
          /     %br
          /     2nd Floor
          /     %br
          /     Pittsburgh, PA 15220
          / .col-xs-12.buttoninfophone
          /   %h3 Hours
          /   %p 8AM-3PM EST (M-F)
      %h2 The Leader in #{@city.name} for Bloodtesting Since 1980
      .well
        %h6 Doctor’s Order Included
        %p You do not need an order or a prescription from your doctor. All our tests
        %h6 Save 70% or More
        %p Most of our patients either don’t have health insurance or don’t want to
        %h6 Order Any Lab Test (No Restrictions)
        %p Often health insurance companies, or even your doctor, will limit the
      %h1 Top Blood Test Categories in City
      .row
        .col-md-6
          %ul
            %li= link_to 'STD Testing Basic Health Screening $59', 'http://www.healthtestingcenters.com/basic-blood-test.aspx', :class => "bulletlink"
            %li= link_to 'Thyroid Testing', 'http://www.healthtestingcenters.com/thyroid-test.aspx', :class => "bulletlink"
            %li= link_to 'Cholesterol and Heart Blood Testing', 'Cholesterol and Heart Blood Testing', :class => "bulletlink"
            %li= link_to 'Cancer Testing', 'http://www.healthtestingcenters.com/cancer-blood-test.aspx', :class => "bulletlink"
        .col-md-6
          %ul
            %li= link_to 'Prostate Testing', 'http://www.healthtestingcenters.com/psa.aspx', :class => "bulletlink"
            %li= link_to 'Liver Testing', 'http://www.healthtestingcenters.com/liver-function-test.aspx', :class => "bulletlink"
            %li= link_to 'Hormone Testing', 'http://www.healthtestingcenters.com/hormone-level-blood-tests.aspx', :class => "bulletlink"
      %h1 Blood Testing Details for Patients in #{@city.name}
      %p Health Testing Centers have convenient locations in Pittsburgh, PA. Simply purchase the test you want online or call our nurses to order by phone. After ordering, Health Testing Centers then emails you a requisition form to bring to one of the below LabCorp locations. After you you have the blood drawn at one of the LabCorp locations below we email the results within 24-48 hours.
      %h1 Health Facts in #{@city.name}
      %p Oriented in Pennsylvania, the metro area, #{@city.name} contains a total of 307,532 individuals. The state population of Pennsylvania has 12,709,154 people. Out of this number of people, a total of 2.4% of them live in Pittsburgh. In one year, there are 24 deaths in the city that are caused by liver disease. There are an additional 55 deaths from kidney disease in the city. Altogether, there are a total of 558 deaths from every kind of cancer. Stroke also caused 121 deaths in the city. In addition, 66 deaths are caused by just prostate cancer, which accounts for 11.7% of total cancer deaths. During the same time period, 357 die from coronary heart disease. There were also 62 resident deaths from diabetes. On average, 0.12% of residents were likely to die of coronary heart disease during the year and 0.18% chance of passing away from any form of cancer.
    .col-md-2.rside
      = link_to(image_tag('email.png'), "mailto:", :class => 'topsoc')
      = link_to(image_tag('google-plus-new.png'), "https://plus.google.com/104085544192925470869/posts", :class => 'topsoc')
      = link_to(image_tag('facebook.png'), "http://www.facebook.com/HealthTestingCenters", :class => 'topsoc')
      = link_to(image_tag('twitter.png'), "http://twitter.com/#!/bloodtesting", :class => 'topsoc')
      = link_to(image_tag('Lab-Testing-123.png'), "http://www.healthtestingcenters.com/blood-testing-how-it-works.aspx", :class => 'easyas')
      = link_to(image_tag('Newletter-Signup.png'), "http://visitor.r20.constantcontact.com/d.jsp?llr=b8ffsudab&p=oi&m=1103422986081", :class => 'newslet')
.container
  .row.footertopbar
    .col-md-3.col-sm-3.col-xs-3
      = image_tag('guarantee.png', :class => 'labtestcat')
    .col-md-9.col-sm-9.col-xs-9
      %h1 OUR GAURANTEE
      %p We care about your health. If you're not completely satisfied, we will make it right or give your money back. 
  .row.footer
    .col-md-6
      = image_tag('453_491_logo-htc.png', :class => 'labtestcat')
    .col-md-6
      %h2 TO SPEAK WITH A MEDICAL PROFESSIONAL
      %h3 
        %a{:href => "tel:1-877-511-5227"} CALL 877-511-LABS (5227)
  .row.foot
    .col-md-12
    %p The Material on this page is educational and does not constitute medical advice, diagnosis or treatment. Please consult your physician if medical advice, diagnosis or treatment is needed. Health Screening Lab Tests may or may not alert you and your doctor to serious medical conditions and are not intended to be a substitute for a physicians's examination.
  .row.footbot
    %ul
      %li
        %a{:href => 'http://www.healthtestingcenters.com/privacy-policy.aspx'} Privacy
      |
      %li
        %a{:href => 'http://www.healthtestingcenters.com/terms.aspx'} Terms
      |
      %li
        %a{:href => 'http://www.healthtestingcenters.com/hipaa.aspx'} HIPAA
      |
      %li
        %a{:href => 'http://www.healthtestingcenters.com/sitemap.aspx'} Sitemap
      |
      %li
        %a{:href => 'http://www.healthtestingcenters.com/about-us.aspx'} About Us



%h3 City Page
%p
  Name: #{@city.name}
%p
  Abbr: #{@city.phone}
%p
  Want to remove this City? #{link_to "Yes", city_path, :data => { :confirm => "Are you sure?" }, :method => :delete}.