.navbar.navbar-default{:role => "navigation"}
  .row
    .col-md-12
      = link_to(image_tag('453_491_logo-htc.png'), root_path, :class => 'brand')
      .numbaholda
        Questions?
        = image_tag('icon-phone.png')
        %br
        %a.numba{:href => "tel:1-877-511-5227"} 877-511-LABS (5227)
  .navbar-header
    %button.navbar-toggle{"data-target" => '.mynav-collapse-1', "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .numbaholdamob
      %a.numba{:href => "tel:1-877-511-5227"} 877-511-LABS (5227)
  .navbar-collapse.collapse.mynav-collapse-1
    %ul.nav.navbar-nav
      %li.mobilelinks= link_to 'Find a Test', 'http://www.healthtestingcenters.com/Complete-Test-List.aspx'
      %li.mobilelinks= link_to 'Find a Center', 'http://www.healthtestingcenters.com/blood-test-locations.aspx'
      %li.mobilelinks= link_to 'How it Works', 'http://www.healthtestingcenters.com/blood-testing-how-it-works.aspx'
      %li.mobilelinks= link_to 'About Us', 'http://www.healthtestingcenters.com/about-us.aspx'
      %li.mobilelinks= link_to 'News', 'http://www.healthtestingcenters.com/articles.aspx'
      %li.mobilelinks= link_to 'Testimonials', 'http://www.healthtestingcenters.com/testimonials.aspx'
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          Find A Test
          %b.caret
        %ul.dropdown-menu{:role => "menu"}
          %li
            %a{:href => "#"} 
              Most Popular Tests
              %b.caret-right
            %ul.dropdown-menu.sub-menu
              %li.dropdown-header MOST POPULAR TESTS
              %li= link_to 'Essential Health Screening', "http://www.healthtestingcenters.com/essential-health-screen.aspx"
              %li= link_to 'Basic Health Screen', "http://www.healthtestingcenters.com/basic-health-profile.aspx"
              %li= link_to 'Cholesterol/ Lipid Profile', "http://www.healthtestingcenters.com/cholesterol-test.aspx"
              %li= link_to 'Complete Blood Count (CBC)', "http://www.healthtestingcenters.com/complete-blood-count.aspx"
              %li= link_to 'Metabolic Panel (14) Comp', "http://www.healthtestingcenters.com/metabolic-panel.aspx"
              %li= link_to 'STD Panel Level I', "http://www.healthtestingcenters.com/std-test-level-1.aspx"
              %li= link_to 'STD Panel Level II', "http://www.healthtestingcenters.com/std-test-level-2.aspx"
              %li= link_to 'Thyroid Function', "http://www.healthtestingcenters.com/thyroid-testing.aspx" 
              %li= link_to 'Prostate (PSA)', "http://www.healthtestingcenters.com/psa.aspx" 
              %li= link_to 'Liver Function', "http://www.healthtestingcenters.com/liver-function-test.aspx" 
              %li= link_to 'Hemoglobin A1c', "http://www.healthtestingcenters.com/hemoglobin-a1c-test.aspx" 
          %li
            %a{:href => "#"} 
              Health Categories
              %b.caret-right
            %ul.dropdown-menu.sub-menu
              %li
                .row{:style => "width:600px;"}
                  %ul.list-unstyled.col-md-6
                    %li.dropdown-header HEALTH CATEGORIES
                    %li= link_to 'At Home Test Kits', "http://www.healthtestingcenters.com/test-kits.aspx"
                    %li= link_to 'Allergy Testing', "http://www.healthtestingcenters.com/allergy-testing.aspx"
                    %li= link_to 'Anemia', "http://www.healthtestingcenters.com/anemia.aspx"
                    %li= link_to 'Arthritis', "http://www.healthtestingcenters.com/arthritis-testing.aspx"
                    %li= link_to 'Blood Chemistry (CBC+CMP)', "http://www.healthtestingcenters.com/cmp-cbc-test.aspx"
                    %li= link_to 'Blood Type', "http://www.healthtestingcenters.com/blood-type-test.aspx"
                    %li= link_to 'Cancer Screening', "http://www.healthtestingcenters.com/cancer-screening.aspx"
                    %li= link_to 'Celiac Disease', "http://www.healthtestingcenters.com/celiacdiseasetest.aspx"
                    %li= link_to 'Diabetes Testing', "http://www.healthtestingcenters.com/diabetes-screening.aspx"
                    %li= link_to 'Drug Testing', "http://www.healthtestingcenters.com/drug-testing.aspx"
                    %li= link_to 'Fertility Screening', "http://www.healthtestingcenters.com/fertility-testing.aspx"
                    %li= link_to 'Gastrointestinal', "http://www.healthtestingcenters.com/gastrointestinal.aspx"
                    %li= link_to 'Heart & Cholesterol', "http://www.healthtestingcenters.com/heart-cholesterol-testing.aspx"
                  %ul.list-unstyled.col-md-6
                    %li= link_to 'Hormones/ Anti-Aging', "http://www.healthtestingcenters.com/hormone-tests.aspx"
                    %li= link_to 'Immunization Testing', "http://www.healthtestingcenters.com/immunizationtesting.aspx"
                    %li= link_to 'Kidney Function', "http://www.healthtestingcenters.com/kidney-function.aspx"
                    %li= link_to 'Liver Function', "http://www.healthtestingcenters.com/liver-test.aspx"
                    %li= link_to 'Pregnancy', "http://www.healthtestingcenters.com/pregnancy-testing.aspx"
                    %li= link_to 'Prenatal Testing', "http://www.healthtestingcenters.com/prenatal-testing.aspx"
                    %li= link_to 'Prostate Test (PSA)', "http://www.healthtestingcenters.com/psa-test.aspx"
                    %li= link_to 'Saliva Testing', "http://www.healthtestingcenters.com/salivatests.aspx"
                    %li= link_to 'STD Testing', "http://www.healthtestingcenters.com/stdtesting.aspx"
                    %li= link_to 'Thyroid Testing', "http://www.healthtestingcenters.com/thyroid-testing.aspx"
                    %li= link_to 'Vitamins & Nutrition', "http://www.healthtestingcenters.com/vitamin-testing.aspx"
          %li
            %a{:href => "#"} 
              General Categories
              %b.caret-right
            %ul.dropdown-menu.sub-menu
              %li.dropdown-header GENERAL CATEGORIES
              %li= link_to 'Complete Test List', "http://www.healthtestingcenters.com/Complete-Test-List.aspx"
              %li= link_to 'Discount Test Panels', "http://www.healthtestingcenters.com/discount-test-panels.aspx"
              %li= link_to 'A-Z Lab Test List', "http://www.healthtestingcenters.com/a-z-test-list.aspx"
              %li= link_to 'Comprehensive Panels', "http://www.healthtestingcenters.com/comprehensive-packages.aspx"
              %li= link_to 'Athelete Testing', "http://www.healthtestingcenters.com/blood-testing-for-athletes.aspx"
              %li= link_to 'Tests for Men', "http://www.healthtestingcenters.com/mens-test-list.aspx"
              %li= link_to 'Tests for Women', "http://www.healthtestingcenters.com/womens-test-list.aspx"
              %li= link_to 'Disease Detection', "http://www.healthtestingcenters.com/disease-testing.aspx"
              %li= link_to 'Gift Certificates', "http://www.healthtestingcenters.com/giftcertificates.aspx"
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          Find A Center
          %b.caret
        %ul.dropdown-menu
          %li= link_to 'Lab Locator', "http://www.healthtestingcenters.com/blood-test-locations.aspx"
          %li= link_to 'Appointments', "http://www.healthtestingcenters.com/labappointments.aspx"
          %li= link_to 'How the Process Works', "http://www.healthtestingcenters.com/blood-testing-how-it-works.aspx"
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          How It Works
          %b.caret
        %ul.dropdown-menu
          %li= link_to 'The Ordering Process', "http://www.healthtestingcenters.com/blood-testing-how-it-works.aspx"
          %li= link_to 'Frequently Asked Questions', "http://www.healthtestingcenters.com/blood-testing-how-it-works.aspx#faq"
          %li= link_to 'Money Back Guarantee', "http://www.healthtestingcenters.com/money-back-guarantee.aspx"
          %li= link_to "Do I need a Doctor's order?", "http://www.healthtestingcenters.com/blood-testing-how-it-works.aspx#faq1"
          %li= link_to 'Practitioner Program', "http://www.healthtestingcenters.com/practitioner.aspx"
          %li= link_to 'Where Are My Test Results?', "http://www.healthtestingcenters.com/testresults.aspx"
      %li.dropdown  
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          About Us
          %b.caret
        %ul.dropdown-menu
          %li= link_to 'About Our Company', "http://www.healthtestingcenters.com/about-us.aspx"
          %li= link_to 'Contact Us', "http://www.healthtestingcenters.com/contact-us.aspx"
          %li= link_to 'Money Back Guarantee', "http://www.healthtestingcenters.com/money-back-guarantee.aspx"
          %li= link_to 'Employment', "http://www.healthtestingcenters.com/about-us.aspx"
          %li= link_to 'Where Are My Test Results?', "http://www.healthtestingcenters.com/testresults.aspx"
          %li= link_to 'Practitioner Program', "http://www.healthtestingcenters.com/practitioner.aspx"
      %li.dropdown  
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          News
          %b.caret
        %ul.dropdown-menu
          %li= link_to 'October Health Newsletter (October 10, 2013)', "http://www.healthtestingcenters.com/october2013newsletter.aspx"
          %li= link_to 'The Concerns and Unexpected Benefits of Regular Coffee Consumption (September 26, 2013)', "http://www.healthtestingcenters.com/benefitsofregularcoffeeconsumption.aspx"
          %li= link_to 'September Health Newsletter (September 6, 2013)', "http://www.healthtestingcenters.com/september2013newsletter.aspx"
          %li= link_to 'August Health Newsletter (August 9, 2013)', "http://www.healthtestingcenters.com/august2013newsletter.aspx"
          %li= link_to 'Is Good Cholesterol Really Good? (July 22, 2013)', "http://www.healthtestingcenters.com/is-good-cholesterol-really-good.aspx"
          %li= link_to 'July Health Newsletter (July 9, 2013)', "http://www.healthtestingcenters.com/july2013newsletter.aspx"
          %li= link_to 'June Health Newsletter (June 5, 2013)', "http://www.healthtestingcenters.com/june2013newsletter.aspx"
          %li
            %a{:href => "http://www.healthtestingcenters.com/articles.aspx"}
              %span{:style => "color:#d5ab32;"}
                More Health Testing Articles
          %li
            %a{:href => "http://www.healthtestingcenters.com/health-conditions-and-resources.aspx"}
              %span{:style => "color:#d5ab32;"}
                Health Testing Helpful Resources
      %li.dropdown  
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          Testimonials
          %b.caret
        %ul.dropdown-menu
          %li
            %a{:href => "http://www.healthtestingcenters.com/lab-test-testimonials.aspx"}
              %span{:style => "color:#d5ab32!important;"} See Our Testimonials Page
          %li{:style => "width:350px!important; padding:15px;"}
            %em{:style => "color:#fff;"} "Being hypoglycemic, your lab tests have provided me affordable means to track my blood sugar level. Your nurses always give me the quick and personal service that I require."
          %li{:style => "width:350px!important; padding:15px;"}
            %em{:style => "color:#fff;"} "I know that early detection (of prostate cancer) through your lab test Center is responsible for my husband's early treatment. Dick is alive and well today because of you."
          %li{:style => "width:350px!important; padding:15px;"}
            %em{:style => "color:#fff;"} "Yours is a service that is definitely needed in today's busy world. Your staff was courteous, efficient, and professional."
          %li
            %a{:href => "http://www.healthtestingcenters.com/testimonialform.aspx"}
              %span{:style => "color:#d5ab32;"} Submit Your Testimonial Here
    %form.navbar-form.navbar-right{:role => "search"}
      .form-group
        %input.form-control{:placeholder => "Search Tests", :type => "text"}
      %button.btn.btn-default.searcher{:type => "submit"}
        = image_tag('custom_search_submit.gif')