!!!
%html
  %head
    %meta{:content => "initial-scale=1.0, user-scalable=no", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "HealthTestingCenters.com"
      %meta{:content => content_for?(:description) ? yield(:description) : "Health Testing Centers", :name => "description"}
      = stylesheet_link_tag "http://htcgen.herokuapp.com/static.css", "application", :media => "all"
      = javascript_include_tag "http://htcgen.herokuapp.com/static.js"
      = csrf_meta_tags
      = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    .container
      - if action_name != 'show' && action_name != 'stdpage'
        = render 'layouts/prenavigation'
        = render 'layouts/messages'
        = yield
      - else
        = render 'layouts/navigation'
        = yield